<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <ion-searchbar placeholder="Busca por ID o texto" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  <cdk-virtual-scroll-viewport appendOnly itemSize="100" minBufferPx="200" maxBufferPx="400" class="example-viewport">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *cdkVirtualFor="let data1084 of array1084 | filter: filterTerm">
            <app-random-card  class="example-item" [data]="data1084"></app-random-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </cdk-virtual-scroll-viewport>
</ion-content>
